.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
    font-size: 400;
    flex-wrap: wrap;
  }
  
  .heroes {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 3vw;
  }
  
  .hero-image {
    width: 850px;
    height: auto;
    
  }
  
 
  

  
  .main-description {
    font-size: 1.15vw;
    font-weight: lighter;
    line-height: 1.6;
    word-wrap: break-word;
    text-indent: 50px;
    right: 3vw;
    margin-left: 11vw;
    max-width: 550px; /* Текст не буде ширше 400px */
    transform: translateY(5vw);
    
  }
  
  .text-container {
    
    
   
  }
  
  .text {
    flex: 1;
    position: relative;
  }
  
  .background-shape {
    position: absolute;
    top: 0;
    right: 4vw; /* Додаємо відступ справа */
    width: 76%;
    z-index: 0;
    transform: translateY(-7vw);
  }
  
  .main-title, .main-description {
    position: relative;
  }
  @media (max-width: 768px) {
    .main-section {
      flex-direction: column; /* Змінюємо напрямок на стовпчик */
      padding: 20px;
      margin-bottom: 5vw; /* Додатковий відступ для зручності */
    }
    .main-description {
      font-size: 3vw;
      font-weight: lighter;
      line-height: 1.6;
      word-wrap: break-word;
      text-indent: 50px;
      right: 3vw;
      margin-left: 11vw;
      max-width: 550px; /* Текст не буде ширше 400px */
      transform: translateY(10vw);
      
    }
  }

  